header,
main,
footer {
    padding-left: var(--sidenav-width);
}

.sidenav {
    width: var(--sidenav-width);
    background-color: var(--color-primary);
    transform: translateX(0px);

    box-sizing: border-box;
    border-right: 5px solid var(--color-secondary);
}

.sidenav > li > a {
    color: var(--color-primary-text);
    font-weight: 400;
    transition: 0.2s ease-in-out;
}

.sidenav > li > a:hover {
    background-color: rgb(var(--color-secondary-temp), 0.5);
}

.sidenav > li > .container {
    margin-top: 20px;
    width: 80%;
}

.sidenav > li > .container > .author-name {
    text-align: center;
    color: var(--color-primary-text);
    font-size: large;
    line-height: 25px;
}

.social-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}

.social-icons a {
    margin: 0 5px;
}

.social-icons a svg {
    color: var(--color-secondary);
}

nav.navbar {
    padding: 0 20px;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.87);
}

nav.navbar .brand-logo {
    position: relative;
    float: left;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.87);
}
