:root {
    --sidenav-width: 260px;

    --color-primary-temp: 25, 25, 24;
    --color-primary: rgba(var(--color-primary-temp), 1);
    --color-secondary-temp: 215, 122, 0;
    --color-secondary: rgba(var(--color-secondary-temp), 1);

    --color-primary-text: #fff;
    --color-secondary-text: #ffffff;
}

html,
body,
#root,
#root > main {
    height: 100%;
}

.fluid {
    width: 100%;
}

.container {
    max-width: none;
}

.container.container-margin {
    margin-top: 30px;
    margin-bottom: 30px;
}

@media only screen and (min-width: 601px) {
    .container {
        width: 95%;
    }
}

@media only screen and (min-width: 993px) {
    .container {
        width: 90%;
    }
}

.btn,
.btn-large,
.btn-small {
    font-weight: 500;
}

.btn.primary,
.btn-large.primary,
.btn-small.primary {
    color: var(--color-primary-text);
    background-color: var(--color-primary);
}

.btn.primary:hover,
.btn-large.primary:hover,
.btn-small.primary:hover {
    color: var(--color-secondary-text);
    background-color: var(--color-secondary);
}

.btn.secondary,
.btn-large.secondary,
.btn-small.secondary {
    color: var(--color-secondary-text);
    background-color: var(--color-secondary);
}

.btn.secondary:hover,
.btn-large.secondary:hover,
.btn-small.secondary:hover {
    color: var(--color-primary-text);
    background-color: var(--color-primary);
}
